<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="WalletName" value="Hackathon_1" />
    <add key="WalletPassword" value="stratis" />
    <add key="SmartContractBaseUrl" value="http://localhost:37223" />

    <add key="GasPrice" value="100" />
    <add key="GasLimit" value="100000" />
    <add key="GasFee" value="0.01" />
    <add key="Amount" value="0" />

    <add key="ApplicationFee" value="2000" />

    <add key="BuyerAddress" value="" />
    <add key="OwnerAddress" value="" />
    <add key="SenderAddress" value="CUtNvY1Jxpn4V4RD1tgphsUKpQdo4q5i54" />
    <add key="PayeeAddress" value="CKGY4XQaCXfyb3FMEcVm97CUd7nowDnvJ6" />
    <add key="ContractAddress" value="CKKsncxUBBpngYBSQLSeiFVBqNVmtxyyWS" />
    
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>