################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/SaleDeedRegistry.ApiClient
/SaleDeedRegistry.Console
/SaleDeedRegistry.Contract
/SaleDeedRegistry.Desktop/bin/Debug
/SaleDeedRegistry.Desktop/obj/Debug
/SaleDeedRegistry.Domain/bin/Debug/netcoreapp3.0
/SaleDeedRegistry.Domain/obj
/SaleDeedRegistry.Tests/bin/Debug/netcoreapp2.1
/SaleDeedRegistry.Tests/obj/Debug/netcoreapp2.1
/SaleDeedRegistry.Tests/obj
/SaleDeedRegistry.Wallet/bin/Debug
/SaleDeedRegistry.Wallet/obj/Debug
/SaleDeedRegistry.Desktop/obj/x86/Debug
/SaleDeedRegistry.Desktop/bin/x86/Debug
/SaleDeedRegistry.Desktop/obj/x64/Debug
