<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="traceLayout"
            value="${longdate} => ${level:uppercase=true} | ${message} | ${onexception:EXCEPTION OCCURRED\:${Exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5}}" />

  <targets>
    <target name="Trace" xsi:type="Trace" layout="${traceLayout}" />
    <target xsi:type="File"
            name="logs"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            archiveFileName="${basedir}\logs\archive\${shortdate}.{##}.log"
            keepFileOpen="false"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
    />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" level="Info" writeTo="logs"/>
    <loggser name="*" level="Error" writeTo="logs"/>
  </rules>
</nlog>